@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px 10px 30px;
  align-items: center;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}

.nav-left {
  display: flex;
  align-items: center;
  margin: 5px;
  width: 50%;
}
.nav-logo {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 15px;
  margin-right: 50px;
}
.nav-logo svg {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.nav-logo h1 {
  font-size: 30px;
  font-weight: bold;
  color: #623fde;
}

.left-navlinks {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  width: 300px;
}
.linknames-left {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
}
.linknames-left svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: black;
}

.linknames-left p {
  font-size: 10px;
  font-weight: bold;
  color: black;
}
.linknames-left a {
  text-decoration: none;
  text-align: center;
}

.left-navlinks a:hover svg,
.linknames-left a:hover svg,
.linknames-left a:hover p,
.linknames-right a:hover p,
.nav-right a:hover svg {
  color: #623fde;
  transform: translateY(-2px);
}

.left-navlinks a:active svg,
.linknames-left a:active svg,
.nav-right a:active svg {
  color: #4f2fc4;
  transform: translateY(0);
}

.nav-right {
  display: flex;
  align-items: center;
  margin: 5px;
  width: 300px;
  margin: 15px;
  justify-content: space-evenly;
}
.nav-right svg {
  width: 28px;
  color: black;
  height: 28px;
  cursor: pointer;
  margin-right: 20px;
}
.linknames-right {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
.linknames-right svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: black;
}

.linknames-right p {
  font-size: 10px;
  font-weight: bold;
  color: black;
  margin-right: 15px;
}
.linknames-right a {
  text-decoration: none;
  text-align: center;
}
