@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow: hidden;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px 10px 30px;
  align-items: center;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}

.nav-left {
  display: flex;
  align-items: center;
  margin: 5px;
  width: 50%;
}
.nav-logo {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 15px;
  margin-right: 50px;
}
.nav-logo svg {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.nav-logo h1 {
  font-size: 30px;
  font-weight: bold;
  color: #623fde;
}

.left-navlinks {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  width: 300px;
}
.linknames-left {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
}
.linknames-left svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: black;
}

.linknames-left p {
  font-size: 10px;
  font-weight: bold;
  color: black;
}
.linknames-left a {
  text-decoration: none;
  text-align: center;
}

.left-navlinks a:hover svg,
.linknames-left a:hover svg,
.linknames-left a:hover p,
.linknames-right a:hover p,
.nav-right a:hover svg {
  color: #623fde;
  transform: translateY(-2px);
}

.left-navlinks a:active svg,
.linknames-left a:active svg,
.nav-right a:active svg {
  color: #4f2fc4;
  transform: translateY(0);
}

.nav-right {
  display: flex;
  align-items: center;
  margin: 5px;
  width: 300px;
  margin: 15px;
  justify-content: space-evenly;
}
.nav-right svg {
  width: 28px;
  color: black;
  height: 28px;
  cursor: pointer;
  margin-right: 20px;
}
.linknames-right {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
.linknames-right svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: black;
}

.linknames-right p {
  font-size: 10px;
  font-weight: bold;
  color: black;
  margin-right: 15px;
}
.linknames-right a {
  text-decoration: none;
  text-align: center;
}
.profile-dropdown {
  position: relative;
  display: inline-block;
  margin: 15px;
}

.profile-dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  z-index: 1;
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  left: -40px;
}

.profile-dropdown .dropdown-content button {
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: left;
}

.profile-dropdown:hover .dropdown-content {
  display: block;
}

.profile-dropdown .dropdown-content button:hover {
  background-color: #f1f1f1;
}

.profile-dropdown:hover .dropdown-content button:hover {
  background-color: #f1f1f1;
}

.profile-icon svg {
  width: 24px;
  color: black;
  height: 24px;
  cursor: pointer;
  margin-right: 10px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 40px;
  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 40px;
  border-radius: 8px;
  width: 70%;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.notif-modal {
  display: none;
  position: absolute;
  z-index: 1;
  bottom: 60px; /* Adjust the distance from the bottom */
  right: 20px; /* Adjust the distance from the right */
  width: 300px; /* Set the width of the modal */
  max-height: 400px; /* Set the maximum height of the modal */
  overflow-y: auto; /* Enable vertical scrolling if needed */
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: #fefefe;
  padding: 20px;
}

/* Add additional styling for notification content as needed */

.notif-modal-content {
  display: flex;
  flex-direction: column;
}
.notif-modal {
  display: none;
  position: absolute;
  z-index: 1;
  top: 100px;
  right: 20px;
  width: 400px;
  max-height: 500px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: #fefefe;
  padding: 20px;
}
.notif {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.notif-text p {
  margin: 0;
  font-size: 10px;
}
.notif img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.notif-close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.notif-close:hover,
.notif-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.container {
  display: flex;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
}
.left-container {
  width: 700px;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  margin-left: 10px;
}
.searchbar {
  width: 100%;
  padding: 18px;
  height: 100px;
}
.searchbar-container {
  background-color: #623fde;
  position: relative;
  height: 100%;
  border-radius: 8px;
  width: 100%;
}

.searchbar-container svg {
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
  margin-left: 30px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.searchbar-container input {
  width: 90%;
  height: 70%;
  border-radius: 12px;
  border: none;
  margin-top: 1.5%;
  margin-left: 20px;
  padding-left: 50px;
}

.job-container {
  align-items: start;
  display: flex;
  width: 100%;
  max-height: 1000px;
  flex-direction: column;
  scrollbar-width: thin;
  scrollbar-color: #623fde #f7f6f6;
  overflow-y: scroll;
  gap: 20px;
  justify-content: flex-start;
  padding: 20px;
}

.job-container::-webkit-scrollbar {
  width: 12px;
}

.job-container::-webkit-scrollbar-thumb {
  background-color: #623fde;
  border-radius: 6px;
}

.job-container::-webkit-scrollbar-track {
  background-color: #f7f6f6;
}
.jobs {
  border-radius: 8px;
  width: 100%;
  min-height: 200px;
  background-color: #f7f6f6;
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 20px;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.jobs.job-clicked {
  box-shadow: 0 4px 8px rgba(98, 63, 222, 0.5); /* Adjust shadow properties as needed */
  transform: translateY(
    -2px
  ); /* Adjust the vertical offset for the click style */
}

.jobs:hover {
  box-shadow: 0 4px 8px rgba(98, 63, 222, 0.3); /* Adjust shadow properties as needed */
  transform: translateY(-2px); /* Adjust the vertical offset on hover */
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.jobs.job-clicked:hover {
  box-shadow: 0 4px 8px rgba(98, 63, 222, 0.5); /* Adjust shadow properties as needed */
}

.job-img {
  width: 70px;
  height: 70px;
}
.job-img img {
  margin-top: 40px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.job-title {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 5px;
}
.job-title h1 {
  font-size: 1.5rem;
}
.job-title p {
  font-size: 1rem;
}
.apply-btn {
  place-self: flex-end;
  width: 200px;
  height: 40px;
}
.apply-btn button {
  font-size: 1.2rem;
  color: #fff;
  background-color: #623fde;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.apply-btn button:hover {
  background-color: #4f2fc4;
}

.right-container {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.job-desc {
  height: 250px;
  border-radius: 10px;
  width: 100%;
  padding: 20px;
  background-color: #f7f6f6;
}
.map {
  height: 650px;
  width: 100%;
  padding: 10px;
}

.map img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
