* {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  padding: 20px;
  color: #623fde;
  font-size: 32px;
  text-align: center;
}

body {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  width: 50%;
  height: 168px;
  margin-left: 3%;
}

.header h1 {
  font-size: 52px;
  font-weight: 500;
  margin: 0;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right {
  height: 100%;
  margin-right: 5%;
}

.right img {
  width: 700px;
  height: 600px;
  overflow: hidden;
}

.left {
  margin-left: 5%;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left form {
  width: 300px;
}

.left label {
  display: block;
  margin-bottom: 2px;
}

.left input {
  height: 40px;
  width: 500px;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.left input:focus {
  outline: none;
  border-color: #623fde;
  box-shadow: 0 0 10px rgba(98, 63, 222, 0.2);
}

.left button {
  background-color: #623fde;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  height: 60px;
  padding: 0 15px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  width: 449px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin-left: 6%;
}

.left button:hover {
  background-color: #492bc2;
}

.left .password-container {
  position: relative;
}

.left .toggle-password {
  position: absolute;
  top: 55%;
  right: -170px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #333;
}

.left .toggle-confirmpassword {
  position: absolute;
  top: 55%;
  right: -170px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #333;
}

.loginlink {
  text-align: center;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  margin-right: 30%;
}
