@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  overflow: hidden !important;
  max-width: 1920px;
  margin-inline: auto !important;
}

.nav-left {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 5px;
}
.nav-left svg {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.nav-left h1 {
  font-size: 30px;
  font-weight: bold;
  color: #623fde;
}
.nav-right {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
  margin-top: 10px;
}
.nav-right a {
  text-decoration: none;
}
.nav-right svg {
  position: relative;
  width: 30px;
  height: 30px;
  color: white;
}
.nav-right p {
  margin-right: 10px;
  color: black;
  font-size: 14px;
}
.find-job-btn {
  color: #623fde;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  border: 1px solid #623fde;
  background-color: transparent;
}
.post-job-btn {
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  border: 1px solid #623fde;
  background-color: #623fde;
}
.post-job-btnside {
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  border: 1px solid #623fde;
  background-color: #623fde;
}

.header {
  width: 120%;
  z-index: 1000;
}
.header span {
  color: #623fde;
  font-weight: bold;
}
.header h1 {
  font-size: 3rem;
  font-weight: 500;
  padding: 10px;
}
.container {
  display: flex;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.right-img {
  width: 950px;
}
.right-img img {
  width: 100%;
  height: 748px;
}
.login {
  width: 40%;
  padding: 10px;
  margin-left: 40px;
  display: flex;

  flex-direction: column;
}

.login label {
  display: block;
  margin-bottom: 4px;
}
.login form {
  width: 497px;
  position: relative;
}

.login input {
  height: 61px;
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.login input:focus {
  outline: none;
  border-color: #623fde;
  box-shadow: 0 0 10px rgba(98, 63, 222, 0.2);
}
.login button {
  background-color: #623fde;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  height: 61px;
  padding: 0 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 494px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.login a.forget {
  text-decoration: none;
  color: #0a66c2;
  font-size: 14px;
  font-weight: 300;
  display: block;
  margin-bottom: 15px;
  margin-top: 20px;
}
.login button:hover {
  background-color: #492bc2;
}

.login .toggle-password {
  position: absolute;
  top: 50%;
  right: 8%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #333;
}

.or-container {
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
  margin-left: 45px;
  margin-top: 20px;
}
.line {
  width: 100%;
  height: 0.5px;
  background-color: #333;
}

.or p {
  font-size: 14px;
  font-weight: 300;
  color: #333;
  margin: 0 30px;
}

.btn-containers {
  display: flex;
  width: 400px;
  flex-direction: column;
}
.btn-containers button {
  background-color: transparent;
  height: 50px;
  border: 1px solid #333;
  border-radius: 16px;
  margin-left: 43px;
  margin-top: 20px;
  color: black;
  width: 100%;
  font-size: 18px;
  font-weight: normal;
}
.btn-containers button:hover {
  background-color: #623fde;
  color: white;
  border: 1px solid #623fde;
}
.container2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}
.sub-container1 {
  width: 90%;
  margin-left: 30px;
}
.text-holder {
  width: 100%;
}
.sub-container1 h3 {
  font-size: 3rem;
  font-weight: 500;
  padding: 20px;
}
.sub-container1 p {
  font-size: 2rem;
  font-weight: 300;
  padding: 20px;
}
.sub-container2 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
}
.sub-container2 button {
  width: 200px;
  height: 70px;
  border-radius: 16px;
  background-color: transparent;
  flex-wrap: wrap;
  font-size: 24px;
  font-weight: normal;
  margin-right: 20%;
}
.sub-container2 button:hover {
  background-color: #623fde;
  color: white;
  border: 1px solid #623fde;
}
.sub-container3 {
  width: 615px;
}
.sub-container3 img {
  width: 100%;
  height: 435px;
  margin-left: 30px;
}
.sub-container4 {
  width: 1000px;
  height: 230px;
}
.rectangle {
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  background-color: #623fde;
  display: flex;

  align-items: center;
  color: #ffff;
  border-radius: 8px;
}

.txt-holder2 {
  width: 500px;
}
.txt-holder2 h3 {
  font-size: 2.7rem;
  font-weight: normal;
}
.btn-holder {
  width: 158px;
}
.btn-holder button {
  width: 100%;
  height: 50px;
  border-radius: 16px;
  background-color: white;
  border: 1px solid #ffff;
  color: black;
  font-size: 18px;
  font-weight: normal;
}
.btn-holder button:hover {
  background-color: transparent;
  color: white;
  border: 1px solid #ffff;
}

.footer {
  background-color: #492bc2;
  color: #fff;
}
.footer-wave-svg {
  background-color: transparent;
  display: block;
  height: 30px;
  position: relative;
  top: -1px;
  width: 100%;
}
.footer-wave-path {
  fill: #fffff2;
}

.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 15px 450px;
  position: relative;
}

.footer-content-column {
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo-link {
  display: inline-block;
  color: white;
  text-decoration: none;
}
.footer-menu {
  margin-top: 30px;
}

.footer-menu-name {
  color: #fffff2;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}
.footer-menu-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 0;
}
.footer-menu-list li {
  margin-top: 5px;
}

.footer-call-to-action-description {
  color: #fffff2;
  margin-top: 10px;
  margin-bottom: 20px;
}
.footer-call-to-action-button:hover {
  background-color: #fffff2;
  color: #00bef0;
}
.button:last-of-type {
  margin-right: 0;
}
.footer-call-to-action-button {
  background-color: #ffff;
  border-radius: 21px;
  color: #623fde;
  display: inline-block;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  padding: 12px 30px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s;
  cursor: pointer;
  position: relative;
}
.footer-call-to-action {
  margin-top: 30px;
}
.footer-call-to-action-title {
  color: #fffff2;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
  margin-bottom: 0;
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
}
.footer-call-to-action-link-wrapper a {
  color: #fff;
  text-decoration: none;
}

.footer-social-links {
  bottom: 0;
  height: 54px;
  position: absolute;
  right: 0;
  width: 236px;
}

.footer-social-amoeba-svg {
  height: 54px;
  left: 0;
  display: block;
  position: absolute;
  top: 0;
  width: 236px;
}

.footer-social-amoeba-path {
  fill: #623fde;
}

.footer-social-link.linkedin {
  height: 26px;
  left: 3px;
  top: 11px;
  width: 26px;
}

.footer-social-link {
  display: block;
  padding: 10px;
  position: absolute;
}

.hidden-link-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  top: 50%;
}

.footer-social-icon-svg {
  display: block;
}

.footer-social-icon-path {
  fill: #fffff2;
  transition: fill 0.2s;
}

.footer-social-link.twitter {
  height: 28px;
  left: 62px;
  top: 3px;
  width: 28px;
}

.footer-social-link.facebook {
  height: 24px;
  left: 123px;
  top: 12px;
  width: 24px;
}

.footer-social-link.github {
  height: 34px;
  left: 172px;
  top: 7px;
  width: 34px;
}

.footer-copyright {
  background-color: #623fde;
  color: #fff;
  padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

.footer-copyright-link {
  color: #fff;
  text-decoration: none;
}

.nav-toggle {
  display: none;
  align-items: center;
}

.burger,
.close-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-right: 10px;
}

.line1 {
  display: none;
}

.sidebar {
  display: none;
  height: auto;
  align-items: center;
  position: absolute;
  margin-top: 5%;
  right: -350px;
  background-color: #d1cece;
  height: 100vh;
  z-index: 1000;
  transition: all 0.1s ease;
  padding: 2%;
  border-radius: 10px;
}

.sidebar.active {
  display: flex;
  flex-direction: column;
  right: 0;
  top: 0;
}
@media only screen and (max-width: 600px) {
  .nav-left h1 {
    font-size: 1.2rem;
  }
  .nav-left svg {
    width: 30px;
    height: 30px;
  }
  .nav-right {
    width: 100%;
    display: none;
  }
  .nav-right p {
    display: none;
  }
  .right-img {
    display: none;
  }
  .header {
    width: 100%;
    z-index: 0;
  }
  .header h1 {
    font-size: 1.5rem !important;
  }
  .container {
    display: block;
  }
  .login {
    width: 100%;
    margin-left: 0;
  }
  .login form {
    width: 100%;
  }

  .login button {
    width: 100%;
  }
  .container2 {
    display: block;
  }
  .sub-container1 {
    width: 100%;
    margin-left: 0;
  }
  .text-holder h3 {
    font-size: 2rem;
    padding: 5%;
  }
  .text-holder p {
    font-size: 1.3rem;
  }
  .find-job-btn {
    font-size: 12px;
  }
  .post-job-btn {
    font-size: 12px;
  }
  .post-job-btnside {
    font-size: 12px;
  }
  .sub-container2 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .sub-container2 button {
    width: 80%;
    margin-right: 0;
    height: 50px;
    font-size: 14px;
    margin: 5%;
  }
  .sidebar {
    position: absolute;
    flex-direction: column;
    gap: 40px;
  }
  .sidebar button {
    margin-top: 25%;
    min-width: 150px;
    height: 50px;
    border-radius: 16px;
    background-color: white;
    border: 1px solid #ffff;
    color: black;
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
    border: 1px solid#623fde;
  }
  .sub-container3 {
    display: none;
  }
  .sub-container4 {
    display: none;
  }
  .nav-toggle {
    display: flex;
  }

  .line1 {
    display: flex;
    width: 25px;
    height: 3px;
    background-color: #555;
    margin: 5px 0;
  }
  .close-icon {
    right: 10px;
    position: absolute;
    margin-bottom: 5%;
    font-size: 20px;
  }
  .or-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-left: 0;
  }
  .or-container button {
    margin-left: 0;
  }
  .btn-containers {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .line {
    width: 100%;
    height: 0.5px;
    background-color: #333;
  }
  .or p {
    font-size: 12px;
    font-weight: 300;
    color: #333;
    margin: 0 30px;
  }

  .btn-containers button {
    margin-left: 0;
  }
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
  }

  .footer-wave-svg {
    height: 50px;
  }

  .footer-content-column {
    width: 24.99%;
  }
  .container {
    max-width: 960px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .nav-left h1 {
    font-size: 36px;
  }
  .header {
    width: 100%;
    z-index: 0;
  }

  .header h1 {
    font-size: 3rem;
  }
  .right-img {
    width: 50%;
    height: 800px;
    margin-left: 2%;
  }
  .right-img img {
    width: 110%;
    height: 100%;
  }
  .login {
    width: 50%;
    padding: 10px;

    display: flex;

    flex-direction: column;
  }

  .login form {
    width: 100%;
    position: relative;
    margin: 0;
  }

  .login button {
    width: 100%;
    margin-left: 0;
  }
  .or-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-left: 0;
  }
  .line {
    width: 100%;
    height: 0.5px;
    background-color: #333;
    margin-left: 0;
  }
  .btn-containers {
    margin-left: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .btn-containers button {
    margin-left: 0;
  }
  .container2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .sub-container2 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 10px;
  }

  .sub-container2 button {
    width: 80%;
    margin: 0;
    height: 50px;
    font-size: 14px;
  }
  .sub-container3 {
    width: 100%;
    margin: 0;
    display: none;
  }
  .sub-container4 {
    width: 100%;
    margin: 0;
    padding: 5%;
  }
  .sub-container4 h3 {
    font-size: 1.6rem;
  }
  .text-holder2 {
    width: 50%;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1920px) {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
  }

  .footer-wave-svg {
    height: 50px;
  }

  .footer-content-column {
    width: 24.99%;
  }

  .right-img {
    width: 50%;
    height: 800px;
    margin-left: 2%;
  }
  .right-img img {
    width: 110%;
    height: 100%;
  }
  .sub-container2 {
    margin: 0;
    width: 90%;
    row-gap: 10px;
    column-gap: 10px;
  }
  .sub-container3 {
    display: flex;
  }
  .sub-container3 img {
    width: 100%;
    height: 435px;
    margin-left: 30px;
  }

  .sub-container4 {
    margin-top: 10%;
    width: 100%;
  }
}
